*
  margin: 0
  padding: 0
  box-sizing: border-box

html, body
  height: 100%
  font-family: Kumbh Sans
  overflow-x: hidden

body
  background-image: linear-gradient(rgb(175, 103, 233),	rgb(101, 101, 231))
  
img
  display: block
  max-width: 100%
  height: auto

// a
//   text-decoration: none
//   transition: all .2s linear
