.main--card
  position: relative
  margin: 0 auto
  width: 760px
  height: 422px
  border-radius: 20px
  background-color: #fff

#bgPatternDesktop
  position: absolute
  transform: scale(.7)
  top: -343px
  left: -477px
  clip-path: inset(230px 0px 360px 470px);

#mainCardImage
  position: relative
  left: -240px
  top: 30px
  transform: scale(.85)
  /* top right bottom left */
  clip-path: inset(0 0 0 70px)

#cardBoxImg
  // z-index: 99
